@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

#global-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#global-header form {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  padding: 0.1rem 0.5rem;
}
#global-header #search {
  border: none;
  outline: none;
  padding: 4px;
}
#global-header button {
  background: none;
  border: none;
  cursor: pointer;
}

.meny ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.meny ul li.logo {
  font-size: 2rem;
}
.meny ul li a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.item li {
  font-size: 20px;
}
.item a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.banner {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.banner .banner-slides {
  display: flex;
  gap: 20px;
  width: 100%;
}
.banner .banner-slides article {
  flex: 0 0 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.banner .banner-slides h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  max-width: 50%;
}
.banner .banner-slides p {
  font-size: 1rem;
  margin-bottom: 20px;
  max-width: 50%;
}
.banner .banner-slides .btn {
  display: inline-block;
  padding: 1rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}
.banner .banner-slides #banner-1 {
  background-image: url("../img/banner1.jpg");
  color: rgb(35, 35, 35);
  align-items: flex-end;
  text-align: right;
}
.banner .banner-slides #banner-1 .btn {
  background-color: #fff;
  color: rgb(35, 35, 35);
}
.banner .banner-slides #banner-2 {
  background-image: url("../img/banner2.jpg");
  color: #fff;
  align-items: flex-start;
  text-align: left;
}
.banner .banner-slides #banner-2 .btn {
  background-color: rgb(35, 35, 35);
  color: #fff;
}
.banner .banner-slides #banner-3 {
  background-image: url("../img/banner3.jpg");
  color: #fff;
  align-items: flex-end;
  text-align: right;
}
.banner .banner-slides #banner-3 .btn {
  background-color: rgb(35, 35, 35);
  color: #fff;
}
.banner .nav-prev,
.banner .nav-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(200, 200, 200, 0.8);
  border: none;
  color: rgb(35, 35, 35);
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.banner .nav-prev.nav-prev,
.banner .nav-next.nav-prev {
  left: 10px;
}
.banner .nav-prev.nav-next,
.banner .nav-next.nav-next {
  right: 10px;
}

#products {
  padding: 0;
  width: 100%;
}
#products header {
  text-align: center;
  margin-bottom: 20px;
}
#products header h3 {
  font-size: 2rem;
}
#products header p {
  font-size: 1rem;
  margin-bottom: 30px;
}
#products header nav button {
  background: none;
  color: rgb(35, 35, 35);
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
}
#products header button:hover {
  background-color: rgba(200, 200, 200, 0.8);
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  width: 100%;
}

.product-card {
  border-radius: 15px;
  overflow: hidden;
  max-width: 100%;
}

.product-card figure {
  position: relative;
  margin: 0;
}
.product-card figure i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #fff;
  background: rgba(200, 200, 200, 0.8);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.product-card figure img {
  display: block;
  width: 100%;
  height: auto;
}
.product-card figure i:hover {
  background-color: rgb(235, 170, 170);
}

.product-card figcaption {
  text-align: left;
}
.product-card figcaption a {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: rgb(35, 35, 35);
  text-decoration: none;
  margin-bottom: 2rem;
}
.product-card figcaption p {
  margin: 5px 0;
  font-size: 1rem;
}

#bunn {
  border-top: 2px solid rgb(128, 128, 128);
}
#bunn .footer-logo {
  text-decoration: none;
  color: rgb(35, 35, 35);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#bunn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#bunn-container section h3 {
  font-weight: 400;
}
#bunn-container section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#bunn-container section ul li {
  margin-bottom: 10px;
}
#bunn-container section ul li a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}
#bunn-container #media-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  #global-header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 1rem;
  }
  .meny ul {
    flex-direction: column;
    align-items: center;
  }
  .banner {
    overflow: hidden;
    gap: 0;
  }
  .banner .banner-slides {
    display: flex;
  }
  .banner article {
    display: none;
  }
  .banner #banner-1 {
    display: flex;
  }
  .banner .nav-prev,
  .banner .nav-next {
    display: none;
  }
  .product-container {
    grid-template-columns: 1fr;
  }
  .product-container .product-card {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */