@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

#global-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#global-header form {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  padding: 0.1rem 0.5rem;
}
#global-header #search {
  border: none;
  outline: none;
  padding: 4px;
}
#global-header button {
  background: none;
  border: none;
  cursor: pointer;
}
#global-header .meny ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
#global-header .meny ul li.logo {
  font-size: 2rem;
}
#global-header .meny ul li a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}
#global-header .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
#global-header .item li {
  font-size: 20px;
}
#global-header .item a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.banner {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}
.banner .nav-prev,
.banner .nav-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(180, 180, 180, 0.7);
  border: none;
  color: rgb(35, 35, 35);
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.banner .nav-prev.nav-prev,
.banner .nav-next.nav-prev {
  left: 10px;
}
.banner .nav-prev.nav-next,
.banner .nav-next.nav-next {
  right: 10px;
}
.banner .banner-slides {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-bottom: 2rem;
}
.banner .banner-slides article {
  flex: 0 0 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.banner .banner-slides h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  max-width: 50%;
}
.banner .banner-slides p {
  font-size: 1rem;
  margin-bottom: 20px;
  max-width: 50%;
}
.banner .banner-slides .btn {
  display: inline-block;
  padding: 1rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}
.banner .banner-slides #banner-1 {
  background-image: url("../img/banner1.jpg");
  color: rgb(35, 35, 35);
  align-items: flex-end;
  text-align: right;
}
.banner .banner-slides #banner-1 .btn {
  background-color: #fff;
  color: rgb(35, 35, 35);
}
.banner .banner-slides #banner-2 {
  background-image: url("../img/banner2.jpg");
  color: #fff;
  align-items: flex-start;
  text-align: left;
}
.banner .banner-slides #banner-2 .btn {
  background-color: rgb(35, 35, 35);
  color: #fff;
}
.banner .banner-slides #banner-3 {
  background-image: url("../img/banner3.jpg");
  color: #fff;
  align-items: flex-end;
  text-align: right;
}
.banner .banner-slides #banner-3 .btn {
  background-color: rgb(35, 35, 35);
  color: #fff;
}

#products {
  padding: 0;
  width: 100%;
  margin-bottom: 3rem;
}
#products header {
  text-align: center;
  margin-bottom: 20px;
}
#products header h2 {
  font-size: 1.7rem;
}
#products header p {
  font-size: 1rem;
  margin-bottom: 30px;
}
#products header nav button {
  background: none;
  color: rgb(35, 35, 35);
  padding: 10px 20px;
  border: 1px solid rgba(180, 180, 180, 0.7);
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
#products header #new-product {
  background-color: rgb(35, 35, 35);
  color: #fff;
  border: 1px solid rgba(180, 180, 180, 0.7);
}
#products header #new-product:hover {
  background-color: rgb(125, 125, 125);
}
#products header button:hover {
  background-color: rgb(125, 125, 125);
  color: #fff;
}
#products .product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  width: 100%;
}

.product-card {
  border-radius: 15px;
  max-width: 100%;
  margin-bottom: 2rem;
}
.product-card figure {
  position: relative;
  margin: 0;
}
.product-card figure i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #fff;
  background: rgba(180, 180, 180, 0.7);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.product-card figure img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 2rem;
}
.product-card figure i:hover {
  background-color: rgb(225, 160, 160);
}
.product-card figcaption {
  text-align: left;
}
.product-card figcaption a {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: rgb(35, 35, 35);
  text-decoration: none;
  margin-bottom: 2rem;
}
.product-card figcaption p {
  margin: 5px 0;
  font-size: 1rem;
}

#category {
  padding: 0;
  width: 100%;
  text-align: center;
}
#category header {
  margin-bottom: 20px;
}
#category header h2 {
  font-size: 1.7rem;
}
#category header p {
  font-size: 1rem;
  margin-bottom: 30px;
}
#category #category-conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "cat1 cat2 cat3" "cat4 cat4 cat3" "cat4 cat4 cat5";
  gap: 1rem;
}
#category #category-conteiner article {
  color: #fff;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}
#category #category-conteiner #category-1 {
  background-image: url("../img/category1.jpg");
  grid-area: cat1;
  height: 250px;
}
#category #category-conteiner #category-2 {
  background-image: url("../img/category2.jpg");
  grid-area: cat2;
}
#category #category-conteiner #category-3 {
  background-image: url("../img/category3.jpg");
  grid-area: cat3;
  height: 450px;
}
#category #category-conteiner #category-4 {
  background-image: url("../img/category4.jpg");
  grid-area: cat4;
}
#category #category-conteiner #category-5 {
  background-image: url("../img/category5.jpg");
  grid-area: cat5;
  height: 250px;
}

#product-page-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  align-items: start;
  grid-template-areas: "nav nav" "sec1 sec2" "sec3 sec3";
  gap: 1rem;
}
#product-page-container #breadcrumb {
  grid-area: nav;
}
#product-page-container #breadcrumb ul {
  display: flex;
  padding: 0;
  gap: 1rem;
}
#product-page-container #breadcrumb ul li {
  list-style: none;
}
#product-page-container #breadcrumb ul li a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}
#product-page-container #product-pictures-left {
  grid-area: sec1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
}
#product-page-container #product-pictures-left #active-img {
  grid-column: 2/3;
  grid-row: 1/4;
  width: 100%;
  height: 600px;
}
#product-page-container #product-pictures-left img:not(#active-img) {
  grid-column: 1/2;
  width: 100%;
  height: 189px;
}
#product-page-container #product-information-right {
  grid-area: sec2;
  width: 100%;
}
#product-page-container #product-information-right h2 {
  font-size: 1.7rem;
}
#product-page-container #product-information-right a {
  font-size: 1.2rem;
  color: rgb(125, 125, 125);
}
#product-page-container #product-information-right p {
  font-size: 1rem;
}
#product-page-container #product-information-right form {
  margin-top: 2rem;
}
#product-page-container #product-information-right form label {
  display: none;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
#product-page-container #product-information-right form select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#product-page-container #product-information-right form #add-to-cart {
  background-color: rgb(50, 50, 50);
  color: #fff;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgba(180, 180, 180, 0.7);
  cursor: pointer;
  width: 91%;
}
#product-page-container #product-information-right form #add-to-cart:hover {
  background-color: rgb(125, 125, 125);
}
#product-page-container #product-information-right form #wishlist {
  background-color: transparent;
  color: rgb(35, 35, 35);
  border: 2px solid rgba(180, 180, 180, 0.7);
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 8%;
}
#product-page-container #product-information-right form #wishlist i {
  font-size: 1rem;
}
#product-page-container #product-information-right form #wishlist :hover {
  color: rgb(225, 160, 160);
}
#product-page-container #product-information-right details {
  margin: 1rem 0;
  border-top: 2px solid rgb(125, 125, 125);
}
#product-page-container #product-information-right details summary {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  margin-bottom: 0;
  padding: 0.5rem 0;
}
#product-page-container #product-information-right details ul, #product-page-container #product-information-right details p, #product-page-container #product-information-right details table {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  margin: 1rem;
}
#product-page-container #product-information-right details article {
  border: 1px solid rgba(200, 200, 200, 0.7);
  border-radius: 15px;
  margin: 1rem;
}
#product-page-container #product-information-right details article header {
  margin: 1rem;
}
#product-page-container #product-information-right .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0;
}
#product-page-container .content-container {
  grid-area: sec3;
}

.content-container {
  padding: 0;
  width: 100%;
  margin-bottom: 20px;
}
.content-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-container header h2 {
  font-size: 1.7rem;
}
.content-container header a {
  text-decoration: none;
}
.content-container #rewiw-container {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.content-container #rewiw-container article {
  flex: 0 0 300px;
  border: 1px solid rgba(200, 200, 200, 0.7);
  border-radius: 15px;
  scroll-snap-align: start;
}
.content-container #rewiw-container article figure img {
  border-radius: 50px;
}
.content-container #rewiw-container article figcaption h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.content-container #rewiw-container article figcaption p {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 10px;
}
.content-container #rewiw-container p:first-of-type {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.content-container #products-container {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.content-container #products-container article {
  flex: 0 0 300px;
  scroll-snap-align: start;
}

#kasse h2 {
  font-size: 2rem;
  text-align: center;
}
#kasse a {
  text-decoration: none;
  font-size: 1.2rem;
}

.title {
  margin: 2rem 0;
}
.title h2 {
  font-size: 1.6rem;
}

#checkout-main section {
  margin-bottom: 1rem;
}

#shopping-bag {
  border: 1px solid rgba(200, 200, 200, 0.7);
  width: 100%;
  align-items: center;
  padding: 0 15rem;
}
#shopping-bag article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "img info footer" "img form footer";
  gap: 1rem;
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
}
#shopping-bag article img {
  grid-area: img;
  width: 100%;
  height: auto;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
#shopping-bag article .info {
  grid-area: info;
  list-style: none;
  padding: 0;
}
#shopping-bag article form {
  grid-area: form;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#shopping-bag article form label {
  font-size: 0.9;
}
#shopping-bag article form select, #shopping-bag article form input {
  padding: 0.5rem;
  border: 1px solid rgba(200, 200, 200, 0.7);
  font-size: 0.9rem;
  width: 100px;
}
#shopping-bag article form input[type=number] {
  max-width: 60px;
}
#shopping-bag article footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: start;
  gap: 0.5rem;
  margin-top: 1rem;
}
#shopping-bag article footer button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}
#shopping-bag article footer button :hover {
  color: rgb(225, 160, 160);
}

#buyer-information {
  border: 1px solid rgba(200, 200, 200, 0.7);
  width: 100%;
  align-items: center;
  padding: 0 15rem;
}
#buyer-information form {
  gap: 2rem;
}
#buyer-information form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 4rem;
}
#buyer-information form fieldset legend {
  font-size: 1rem;
  padding: 0;
}
#buyer-information form fieldset label {
  font-size: 1rem;
  color: rgb(50, 50, 50);
}
#buyer-information form fieldset input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgba(200, 200, 200, 0.7);
  width: 100%;
}
#buyer-information form #address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 0 0.5rem;
  grid-template-areas: "fornavn etternavn" "gateadresse gateadresse" "postnummer poststed";
}
#buyer-information form #address #fornavn {
  grid-area: fornavn;
}
#buyer-information form #address #etternavn {
  grid-area: etternavn;
}
#buyer-information form #address #gateadresse {
  grid-area: gateadresse;
}
#buyer-information form #address #postnummer {
  grid-area: postnummer;
}
#buyer-information form #address #poststed {
  grid-area: poststed;
}
#buyer-information form footer {
  margin-top: 2rem;
  text-align: center;
  margin: 2rem 0;
}
#buyer-information form footer button {
  background-color: rgb(50, 50, 50);
  color: #fff;
  border: 1px solid rgba(180, 180, 180, 0.7);
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}
#buyer-information form footer button:hover {
  background-color: rgb(125, 125, 125);
}
#buyer-information form footer a {
  font-size: 1rem;
  color: rgb(0, 0, 190);
}

#delivery-option {
  border: 1px solid rgba(200, 200, 200, 0.7);
  width: 100%;
  align-items: center;
  padding: 0 15rem;
}
#delivery-option h3 {
  font-size: 1.2rem;
}
#delivery-option .option {
  border: 1px solid rgba(200, 200, 200, 0.7);
  margin: 1rem 0;
  padding: 0 1rem;
}
#delivery-option label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "name price" "days days" "details details";
  gap: 0.5rem;
  margin: 1rem 0;
}
#delivery-option label .name {
  grid-area: name;
  justify-self: start;
  font-size: 1rem;
  font-weight: bold;
}
#delivery-option label .price {
  grid-area: price;
  justify-self: end;
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
}
#delivery-option label .price i {
  font-size: 1rem;
}
#delivery-option label .days {
  grid-area: days;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(125, 125, 125);
}
#delivery-option label .details {
  grid-area: details;
  font-size: 1rem;
}

#payment {
  border: 1px solid rgba(200, 200, 200, 0.7);
  width: 100%;
  align-items: center;
  padding: 0 15rem;
}
#payment form {
  margin-bottom: 2rem;
  gap: 0.5rem;
}
#payment form #payment-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "legend legend" "card card" "date cvc";
  border: none;
  padding: 0;
  margin: 0;
  gap: 0 1rem;
  margin-bottom: 4rem;
}
#payment form #payment-card legend {
  grid-area: legend;
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
}
#payment form #payment-card #card-number {
  grid-area: card;
}
#payment form #payment-card #expiry-date {
  grid-area: date;
}
#payment form #payment-card #cvc {
  grid-area: cvc;
}
#payment form #payment-card label {
  font-size: 1rem;
  color: rgb(50, 50, 50);
}
#payment form #payment-card input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgba(200, 200, 200, 0.7);
  width: 100%;
}
#payment #price {
  text-align: center;
}
#payment #price p {
  font-size: 1rem;
}
#payment #price strong {
  font-size: 1.5rem;
  font-weight: bold;
}
#payment button {
  background-color: rgb(50, 50, 50);
  color: #fff;
  border: 1px solid rgba(180, 180, 180, 0.7);
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}
#payment button:hover {
  background-color: rgb(125, 125, 125);
}
#payment p {
  font-size: 1rem;
  text-align: center;
}
#payment #check {
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  font-size: 1rem;
}

#bunn {
  border-top: 2px solid rgb(125, 125, 125);
}
#bunn .footer-logo {
  text-decoration: none;
  color: rgb(35, 35, 35);
  font-size: 1.5rem;
  margin-bottom: 10px;
}
#bunn #bunn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#bunn #bunn-container section h3 {
  font-weight: 400;
}
#bunn #bunn-container section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#bunn #bunn-container section ul li {
  margin-bottom: 10px;
}
#bunn #bunn-container section ul li a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}
#bunn #bunn-container #media-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  #global-header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 1rem;
    width: 100%;
  }
  .meny ul {
    flex-direction: column;
    align-items: center;
  }
  .banner {
    gap: 0;
  }
  .banner .banner-slides {
    display: flex;
    overflow: hidden;
  }
  .banner article {
    display: none;
  }
  .banner #banner-1 {
    display: flex;
  }
  .banner .nav-prev,
  .banner .nav-next {
    display: none;
  }
  .product-container {
    grid-template-columns: 1fr;
  }
  .product-container .product-card {
    max-width: none;
    width: 100%;
    margin: 0;
  }
  #category #category-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "cat1" "cat2" "cat3" "cat4" "cat5";
  }
  #category #category-conteiner article {
    height: auto;
  }
  #category #category-conteiner #category-1 {
    height: 150px;
  }
  #category #category-conteiner #category-2 {
    height: 150px;
  }
  #category #category-conteiner #category-3 {
    height: 150px;
  }
  #category #category-conteiner #category-4 {
    height: 150px;
  }
  #category #category-conteiner #category-5 {
    height: 150px;
  }
  #product-page-container {
    display: flex;
    flex-direction: column;
  }
  #shopping-bag {
    padding: 1rem;
  }
  #shopping-bag article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "img" "info" "form" "footer";
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  #shopping-bag article footer {
    justify-self: start;
    flex-direction: row;
  }
  #buyer-information {
    padding: 1rem;
  }
  #delivery-option {
    padding: 1rem;
  }
  #payment {
    padding: 1rem;
  }
}/*# sourceMappingURL=main.css.map */