$black: rgb(35, 35, 35);
$darkgray: rgb(50, 50, 50);
$gray: rgb(125, 125, 125);
$white: #fff;
$background: rgb(180, 180, 180, 0.7);
$bgHeard: rgb(225, 160, 160);
$border: rgba(160, 160, 160, 0.7) ;
$blue: rgb(0, 0, 190);