@use 'fonts' as *;
@use 'colors' as *;
@use 'mixins' as *;

*{
    box-sizing: border-box;
}

body{
    font-family: $mainFont;
}

#container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

#global-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    form{
        display: flex;
        align-items: center;
        border: 1px solid ;
        border-radius: 20px;
        padding: 0.1rem 0.5rem; 
    }
    
    #search {
        border: none;
        outline: none;
        padding: 4px;
    }
    
    button {
        background: none;
        border: none;
        cursor: pointer;
    }
}

.meny ul{
    @include flex-list;

    li.logo {
        font-size: 2rem;
    }

    li a{
        text-decoration: none;
        color: $black;
    }
}

.item{
    @include flex-list;

    li{
        font-size: 20px;
    }

    a{
        text-decoration: none;
        color: $black;
    }
}

.banner{
    
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20px;
    width: 100%;

    .slide {
        flex: 0 0 100%;
        height: 500px;
        background-size: cover;
        background-position: center;
        border-radius: 25px;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .slide h2 {
        font-size: 2rem;
        margin-bottom: 10px;
        max-width: 50%;
    }
    
    .slide p {
        font-size: 1rem;
        margin-bottom: 20px;
        max-width: 50%;
    }

    .btn {
        display: inline-block;
        padding: 1rem;
        border-radius: 30px;
        text-decoration: none;
        font-weight: bold;
    }

    #banner1{
        @include slide-style(
            "../img/banner1.jpg",
            $black,
            flex-end,
            right,
            $white,
            $black
        );
    }

    #banner2{
        @include slide-style(
            "../img/banner2.jpg",
            $white,
            flex-start,
            left,
            $black,
            $white
        );
    }
    
    #banner3{
        @include slide-style(
            "../img/banner3.jpg",
            $white,
            flex-end,
            right,
            $black,
            $white
        );
    }
}

#products{
    padding: 0;
    width: 100%;
    
    header{
        text-align: center;
        margin-bottom: 20px;

        h3{
            font-size: 2rem;
        }

        p{
            font-size: 1rem;
            margin-bottom: 30px;
        }

        nav button{
            background: none;
            color: $black;
            padding: 10px 20px;
            border: 1px solid ;
            border-radius: 20px;
            cursor: pointer;
            font-size: 1rem;
        }

        button:hover{
            background-color: $background;
        }
    }
}

.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    width: 100%;
}

.product-card {
    border-radius: 15px;
    overflow: hidden;
    max-width: 100%;
}

.product-card figure {
    position: relative;
    margin: 0;
    
    i {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        color: $white;
        background: $background;
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1;
    }
    
    img {
        display: block;
        width: 100%;
        height: auto;
    }

    i:hover{
        background-color: $bgHeard;
    }
}

.product-card figcaption {
    text-align: left;

    a{
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: $black;
        text-decoration: none;
        margin-bottom: 2rem;
    }

    p {
        margin: 5px 0;
        font-size: 1rem;
    }
}

#bunn{
    border-top: 2px solid $gray;
    
    .footer-logo{
        text-decoration: none;
        color: $black;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
}

#bunn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    section h3{
        font-weight: 400;
    }
    
    section ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    section ul li{
        margin-bottom: 10px;
    }

    section ul li a {
        text-decoration: none;
        color: $black;
    }

    #media-icons{
        display: flex;
        align-items:center ;
        justify-content: space-between;
    }
}

@media only screen and (max-width:800px){

    #global-header{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 1rem;
    }

    .meny ul{
        flex-direction: column;
        align-items: center;

    }

    .banner{
        overflow: hidden;
        gap: 0;

        .slide{
            display: none;
        }

        #banner1{
            display: flex;
        }
    }

    .product-container{
        grid-template-columns: 1fr;

        .product-card{
            max-width: none;
            width: 100%;
            margin: 0;
        }
    }
}

