@use 'fonts' as *;
@use 'colors' as *;
@use 'mixins' as *;

*{
    box-sizing: border-box;
}

body{
    font-family: $mainFont;
    padding: 0 20px;
}

#global-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    form{
        display: flex;
        align-items: center;
        border: 1px solid ;
        border-radius: 20px;
        padding: 0.1rem 0.5rem; 
    }
    
    #search {
        border: none;
        outline: none;
        padding: 4px;
    }
    
    button {
        background: none;
        border: none;
        cursor: pointer;
    }
}

.meny ul{
    @include flex-list;

    li.logo {
        font-size: 2rem;
        padding: 1rem;
    }

    li a{
        text-decoration: none;
        color: $black;
    }
}

.item{
    @include flex-list;

    li{
        font-size: 20px;
    }

    a{
        text-decoration: none;
        color: $black;
    }
}

.banner{
    
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 0;
    scroll-behavior: smooth;

    .slide {
        flex: 0 0 100%;
        height: 500px;
        background-size: cover;
        background-position: center;
        border-radius: 25px;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .slide h2 {
        font-size: 2rem;
        margin-bottom: 10px;
        max-width: 50%;
    }
    
    .slide p {
        font-size: 1rem;
        margin-bottom: 20px;
        max-width: 50%;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
        margin-top: 20px;
    }

    #banner1{
        @include slide-style(
            "../img/banner1.jpg",
            $black,
            flex-end,
            right,
            $white,
            $black
        );
    }

    #banner2{
        @include slide-style(
            "../img/banner2.jpg",
            $white,
            flex-start,
            left,
            $black,
            $white
        );
    }
    
    #banner3{
        @include slide-style(
            "../img/banner3.jpg",
            $white,
            flex-end,
            right,
            $black,
            $white
        );
    }
}

#bunn{
    border-top: 2px solid $gray;
    
    .footer-logo{
        text-decoration: none;
        color: $black;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
}

#bunn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    section h3{
        font-weight: 400;
    }
    
    section ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    section ul li{
        margin-bottom: 10px;
    }

    section ul li a {
        text-decoration: none;
        color: $black;
    }

    #media-icons{
        display: flex;
        align-items:center ;
        justify-content: space-between;
    }
}



